main {
  // @include gradient(hsl(193, 52%, 38%), hsl(202, 49%, 19%), vertical)
  height: 100%;
}

.nav {
  text-align: left;
}

.main-heading {
  @include font-size(1rem);
  font-family: 'Leckerli One', cursive;
  width: 100%;
  margin: 1rem;
  text-shadow: #EDEDED 0 .5px 1px;
  position: relative;
}

.check-in {
  text-transform: uppercase;
  font-family: $heading-font;
  display: block;
  line-height: .8;
  // letter-spacing: .1rem;
}

.home-heading {
  @include font-size(2rem);
  font-family: $heading-font;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  @include screen('mobile') {
    text-align: right;
  }
}

.btn {
  @include button;

}