@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Raleway&display=swap');

$heading-font: 'Fira Sans',
sans-serif;
$main-font: 'Raleway',
sans-serif;


//COLORS
$btn-bkgrnd: hsl(192, 52%, 33%);
$main-font-color: hsl(202, 49%, 19%);