@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Raleway&display=swap');

$heading-font: 'Fira Sans',
sans-serif;
$main-font: 'Raleway',
sans-serif;
$cursive: 'Leckerli One',
cursive;


//COLORS
$btn-bkgrnd: hsl(192, 52%, 33%);
$main-text-color: hsl(203, 50%, 19%);
$light-text-color: hsl(190, 58%, 47%);
$bright-accent-color: hsl(52, 80%, 77%);

