{
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "max-lines-per-function": ["error", 30],
  }
}