@import "~rfs/scss";
@import './assets/variables';
@import './assets/mixins';
@import './components/ErrorPage/Error';
@import './components/Home/Home';
@import './containers/App/App';
@import './containers/HelperPage/HelperPage';


html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: $main-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  }
  // @include gradient(hsl(202, 49%, 19%), hsl(190, 58%, 47%), vertical);
  // @include gradient(hsl(202, 49%, 19%), hsl(190, 58%, 47%), vertical);
